@use '~@ht6/react-ui/dist/styles/mixins.module';
@use '~@ht6/react-ui/dist/styles/colors.module';
@use '../../styles/mixins.module' as localMixins;

.root {
  overflow: hidden;
  width: 100%;
  box-sizing: border-box;

  background-color: rgba(17, 24, 39, 0.4);
  padding: 1rem;
  border-radius: 1rem;
  backdrop-filter: blur(6px);
}

.header {
  width: 100%;
  padding-right: 0;
  margin: 0;
  @include localMixins.media(tablet) {
    margin: 0 0 calc(5rem / 14);
  }
  @include localMixins.media(mobile){
    margin: 0 0 calc(7.5rem / 12);
  }
}

.list {
  flex-direction: column;
  // margin: 0.0625rem 1.5rem 1rem;
  display: flex;
  width: 100%;
}

.trigger {
  @include mixins.transition(color);
  background-color: transparent;
  border-radius: 1rem;
  align-items: center;
  text-align: start;
  cursor: pointer;
  padding: 0.5rem 0;
  display: flex;
  border: none;
  width: 100%;
  font-weight: 600;
  
  &:hover, &:active {
    color: colors.getColor(neutral-400);

    %iconLine {
      background-color: colors.getColor(neutral-400);
    }
  }
  
}

.label {
  padding-right: 1.5rem;
}

.icon {
  margin: 0.125rem 0 auto auto;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 1rem;
  width: 1rem;
  flex-shrink: 0;
  display: flex;
}

%iconLine {
  @include mixins.transition(transform background-color);
  background-color: colors.getColor(shades-0);
  border-radius: 999px;
  position: absolute;
  height: 0.15rem;
  width: 100%;
  margin: auto;
  inset: auto;
}

.iconLineH {
  @extend %iconLine;
  
  .closed & {
    transform: rotate(180deg);
  }
}

.iconLineV {
  @extend %iconLine;
  
  .closed & {
    transform: rotate(270deg);
  }
}

.content {
  overflow: hidden;
  margin: 0;
}

.text {
  @include mixins.transition(padding max-height);
  box-sizing: border-box;
  padding: 0.25rem 0 0;
  max-height: 20rem;
  overflow: hidden;
  margin: 0 0 1.5rem;

  @include localMixins.media(tablet){
    padding: calc(4rem / 14) 0 0;
    margin: calc(2.5rem / 14) 0 calc(17rem / 14);
  }

  @include localMixins.media(mobile){
    padding: calc(4rem / 12) 0 0;
    margin: calc(3.5rem / 12) 0 1.5rem;
  }

  &.closed {
    max-height: 0;
    padding: 0;
  }
}

.line {
  border: 1px solid colors.getColor(copy-dark, $alpha: 0.1);
  margin: 0.5rem 0;
}
