@use '~@ht6/react-ui/dist/styles/mixins.module';
@use '~@ht6/react-ui/dist/styles/colors.module';

.root {
  border: 1px solid colors.getColor(primary-700);
  border-radius: 0.25rem;
  overflow: hidden;
}

.header {
  border-bottom: 1px solid colors.getColor(primary-700);
  background-color: colors.getColor(primary-2);
  padding: 0.75rem 2rem;
  margin: 0;
}

.list {
  flex-direction: column;
  margin: 1rem 1.5rem;
  display: flex;
}

.trigger {
  @include mixins.transition(background-color);
  background-color: transparent;
  border-radius: 0.5rem;
  align-items: center;
  text-align: start;
  cursor: pointer;
  padding: 0.5rem;
  display: flex;
  border: none;
  width: 100%;

  &:hover,
  &:focus {
    background-color: colors.getColor(primary-700, $alpha: 0.06);
  }

  &:active {
    background-color: colors.getColor(primary-700, $alpha: 0.12);
  }
}

.label {
  padding-right: 1.5rem;
}

.icon {
  margin: 0.125rem 0 auto auto;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 1.25rem;
  width: 1.25rem;
  flex-shrink: 0;
  display: flex;
}

%iconLine {
  @include mixins.transition(transform, fast);
  background-color: colors.getColor(copy-dark);
  border-radius: 999px;
  position: absolute;
  height: 0.25rem;
  width: 100%;
  margin: auto;
  inset: auto;
}

.iconLineH {
  @extend %iconLine;
  .closed & {
    transform: rotate(180deg);
  }
}

.iconLineV {
  @extend %iconLine;
  .closed & {
    transform: rotate(270deg);
  }
}

.content {
  overflow: hidden;
  margin: 0 0.5rem;
}

.text {
  @include mixins.transition(padding max-height);
  box-sizing: border-box;
  padding: 0.5rem 0;
  max-height: 20rem;
  overflow: hidden;
  margin: 0;

  &.closed {
    max-height: 0;
    padding: 0;
  }
}

.line {
  border: 1px solid colors.getColor(copy-dark, $alpha: 0.1);
  margin: 0.5rem 0;
}
