@use '~@ht6/react-ui/dist/styles/mixins.module';
@use '~@ht6/react-ui/dist/styles/colors.module';
@use '../../../styles/colors.module' as localColors;
@use '../../../styles/mixins.module' as localMixins;
@use 'sass:math';

.root {
  display: flex;
  align-items: center;
  padding-left: 5%;
  padding-right: 5%;

  @include localMixins.media(mobile) {
    padding-left: 0;
    padding-right: 0;
    flex-direction: column
  }
}

.control {
  @include mixins.transition(transform opacity color);
  color: colors.getColor(neutral-200);
  background: none;
  cursor: pointer;
  display: flex;
  border: none;
  padding: 0;

  &:first-child {
    padding-right: 28px;
  }
  &:last-child {
    padding-left: 28px;
  }

  &:not(:disabled) {
    &:hover, &:active {
      transform: scale(1.1);
    }
  }

  &:disabled {
    opacity: 0.4;
    cursor: not-allowed;
  }

  @include localMixins.media(mobile) {
    display: none;
  }
}

.items {
  scroll-behavior: smooth;
  list-style-type: none;
  overflow-x: hidden;
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  width: 100%;
  -webkit-overflow-scrolling: touch;

  &::-webkit-scrollbar {
      display: none;
    }
    scrollbar-width: none;
    
    @include localMixins.media(mobile) {
    scroll-snap-type: x mandatory;
    overflow-x: scroll !important;
  }
}

.item {
  @include mixins.transition(transform);
  background-color: #fff;
  border-radius: 12px;
  padding: 32px 0;
  box-sizing: border-box;
  justify-content: center;
  min-width: 33.3333333%;
  scroll-snap-align: center;
  // aspect-ratio: 468 / 270; // in accordance to design
  gap: 18px;
  
  display: flex;
  transform: scale(0.90);
  flex-direction: row;

  &:last-child {
    margin-right: 0;
  }

  .wrapper {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .imgwrapper {
    width: 18%;
    display: flex;
    height: auto;
    justify-content: end;
    min-width: 3.5rem;

    img {
      width: 100%;
      height: auto;
      border-radius: 50%;
      aspect-ratio: 1 / 1;
    }
  }
  
  .title {
    font-weight: 700;
    font-size: 16px;
    font-style: italic;
    line-height: 25px;
    margin: 0;
  }
  
  .content {
    font-size: 14px;
    line-height: 20px;
    margin: 0;
  }

  .label {
    color: colors.getColor(primary-600);
    margin: 0;
    line-height: 20px;
    font-size: 14px;
  }

  @include localMixins.media(laptop) {
    min-width: 50%;
    flex-direction: column;
    align-items: center;
    padding: 32px;
    
    .imgwrapper {
      width: 50%;
      justify-content: center;
      width: 100%;
    }
    .wrapper {
      width: 100%;
    }
  }
  @include localMixins.media(tablet) {
    min-width: 100%;
  }
  @include localMixins.media(mobile) {
    .imgwrapper {
      justify-content: start !important;
      
      .title {
        font-size: 14px;
      }
      .content, .label {
        font-size: 12px;
      }
    }
  }
}

.mobilecontroller {
  display: none;
  justify-content: center;
  gap: 6px;

  div {
    width: 12px;
    height: 12px;
    background-color: white;
    border-radius: 50%;
    transition: background-color 0.3s ease-in-out;

    &.current {
      background-color: #fbbf24;
    }
  }

  @include localMixins.media(mobile) {
    display: flex;
  }
}