@use '../../styles/mixins.module';
@use '../../styles/colors.module' as localColors;
@use '~@ht6/react-ui/dist/styles/colors.module';

.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 3rem 0;
  grid-gap: 2rem;

  @include mixins.media(laptop) {
    grid-template-columns: 1fr;
  }
}

.title,
.text {
  margin: 0;
}

.title {
  margin-bottom: 1.5rem;
}

.long {
  grid-column: span 2;
  @include mixins.media(tablet) {
    grid-column: span 1;
  }
}

.form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0.75rem 1rem;
  border: 1px solid colors.getColor(primary-700);
  background-color: localColors.$bg-2;
  border-radius: 0.5rem;
  padding: 1.5rem 2rem;

  @include mixins.media(tablet) {
    grid-template-columns: 1fr;
  }
}

.btn {
  display: flex;
  justify-content: flex-end;
  margin-top: 0.5rem;
}
