@use '../../styles/mixins.module';
@use '../../styles/colors.module' as localColors;
@use '~@ht6/react-ui/dist/styles/colors.module';

.content {
  background-color: #010F29;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 3rem 0;
  grid-gap: 2rem;

  @include mixins.media(tablet) {
    grid-template-columns: 1fr;
  }
}

.title,
.text {
  margin: 0;
}

.title {
  margin-bottom: 1.5rem;
  font-weight: 750;
}

.questionSpan {
  color: colors.getColor('warning-400');
}

.long {
  grid-column: span 2;
  border-radius: 20px;

  @include mixins.media(tablet) {
    grid-column: span 1;
  }
}

.textArea {
  border-radius: 20px;
}

.input {
  border-radius: 64px;
}

.form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0.75rem 1rem;
  background-color: transparent;
  padding: 1.5rem 2rem;

  @include mixins.media(tablet) {
    grid-template-columns: 1fr;
  }
}

.btn {
  display: flex;
  justify-content: flex-end;
  margin-top: 0.5rem;
  border-radius: 64px;

  @include mixins.media(tablet) {
    display: grid;
    justify-content: initial;
    grid-column: span 1;
  }

}
