@use '~@ht6/react-ui/dist/styles/colors.module';
@use '~@ht6/react-ui/dist/styles/fonts.module';
@use '../../styles/mixins.module' as localMixins;

// TODO: Need to properly format text at bottom of section, br tag interferes with mobile text formatting

.container {
  padding: 4rem 0;
}

.items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
  gap: 1.25rem;
  padding: 0;
  margin: 0;
  gap: 2rem;
  margin: 0 0 8rem 0;

  @include localMixins.media(laptop) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include localMixins.media(tablet) {
    grid-template-columns: 1fr;
  }
}

.item {
  position: relative;
  grid-template-columns: 1fr;
  text-transform: uppercase;
  border-radius: 0.25rem;
  box-sizing: border-box;
  align-items: center;
  text-align: center;
  padding: 1.25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  margin: 0;
  z-index: 1;
  width: 23.5rem;
  height: 8rem;
  
  @include localMixins.media(tablet) {
    flex-basis: 20rem;
    
    &:nth-child(odd) {
      margin-right: auto;
    }
    
    &:nth-child(even) {
      margin-left: auto;
    }
  }
}

.itemLabel {
  letter-spacing: map-get(fonts.$config, heading2, letter-spacing);
}

.statsImg {
  position: absolute;
  z-index: -1;
  transform: scale(0.75);

  @include localMixins.media(mobile) {
    transform: scale(0.60);
  }
}