.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 9.25rem 0;
}

.title {
  margin: 0;
}

.category {
  gap: 1.5rem calc(1rem * var(--ps-g));
  width: 80%;
  justify-content: center;
  list-style-type: none;
  align-items: stretch;
  flex-wrap: wrap;
  display: flex;
  padding: 0;
  margin: 3rem 0 0;
}

.link {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 12px;
  padding: 1.25rem;
  box-sizing: border-box;
  height: 100%;
}

.image {
  max-width: calc(1rem * var(--ps-s));
  width: 100%;
}

@media (max-width: 768px) {
  .link {
    width: 100%;
    padding: 0.75rem
  }

  .category.bronze {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
