@use '~@ht6/react-ui/dist/styles/mixins.module';
@use '~@ht6/react-ui/dist/styles/colors.module';
@use '../../styles/colors.module' as localColors;
@use '../../styles/mixins.module' as localMixins;

.root {
  padding: 0;
  position: fixed;
  z-index: 100;
  top: 0;
  width: 100vw;
  transition: background-color 0.4s ease, border-bottom 0.4s ease;

  &.scrolled {
    background-color: #091630;
    border-bottom: 1px solid #aaa;
  }
}

.content {
  justify-content: space-between;
  display: flex;
  padding: 0 1.25rem;
  width: auto;
}

.logo {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  padding: 0.5rem 0;
  margin-right: auto;
  grid-gap: 1rem;
}

.logoSvg {
  width: 1.25rem;
}

.linkItems {
  list-style-type: none;
  align-self: stretch;
  display: flex;
  padding: 0;
  margin: 0;
  align-items: center;
  gap: 4rem;

  button {
    margin-left: -24px;
    margin-right: -24px;

    &:last-child {
      margin-right: 41px;
    }
  }

  @include localMixins.media(nav) {
    display: none;
  }
}

.linkItem {
  @include mixins.transition(color);
  box-sizing: border-box;
  position: relative;
  display: inline-block;
  color: colors.getColor(neutral-50) !important;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% + 3rem);
    height: calc(100% + 1rem);
    background-color: #1e2b40;
    border-radius: 20px;
    opacity: 0;
    transition: opacity 0.4s ease;
    z-index: -1;
  }

  &:hover::before {
    opacity: 1;
  }

  &.linkItemActive::before {
    opacity: 1;
  }
}

.mobileNav {
  @include mixins.transition(width opacity);
  background-color: #091630;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 3;
  box-sizing: border-box;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  gap: 12px;
  opacity: 0;
  pointer-events: none;
  width: 100%;

  .mobileNavWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.25rem;
  }

  &.mobileNavShow {
    opacity: 1;
    pointer-events: all;
  }
  
  .mobileNavCTAWrapper {
    margin-top: auto;
    margin-bottom: 32px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0 1.25rem;

    button {
      width: 100%;
      font-size: 14px;
    }
  }
  
  button {
    grid-column: 1/-1;
  }

  @include localMixins.media(mobile) {
    grid-template-columns: 1fr;
  }
}

.xicon {
  @include mixins.transition(background-color outline);
  cursor: pointer;
  outline: 0.5rem solid transparent;
  // border-radius: 0.5rem;

  &:hover,
  &:focus,
  &:active {
    outline: 0.5rem solid colors.getColor(primary-500, $alpha: 0.14);
    background-color: colors.getColor(primary-500, $alpha: 0.14);
  }
}

.mobileNavItem {
  margin: 0 1.25rem;
  @include mixins.transition(background-color color);
  box-sizing: border-box;
  display: block;
  color: colors.getColor(neutral-50);
  font-size: 14px;
  border-radius: 64px;
  padding: 12px 24px;

  &:hover,
  &:focus,
  &Active,
  &:active {
    background-color: #26384e;
  }
}

.hamborgreClass {
  @include mixins.transition(background-color);
  background-color: transparent;
  display: none;
  border: none;
  padding: 1rem;
  margin: auto 0;
  margin-right: 12px;
  cursor: pointer;

  &:hover,
  &:focus,
  &:active {
    background-color: colors.getColor(primary-500, $alpha: 0.14);
  }

  @include localMixins.media(nav) {
    display: block;
  }
}

.banner {
  // margin-left: 40px;
  overflow-y: visible;
  width: 5.25rem;
  height: 1px;

  @include localMixins.media(nav) {
    // margin-left: 12px;
  }
}

.applyContainer {
  display: flex;
  align-items: center;
  margin-left: 1.5rem;
}

.apply {
  text-decoration: none;
  text-align: center;
  display: block;
}

.applyMobile {
  grid-column-start: 1;
  grid-column-end: 2 span;
  padding-top: 0.5rem;

  @include localMixins.media(mobile) {
    grid-column: 1;
  }
}
