@use '~@ht6/react-ui/dist/styles/mixins.module';
@use '~@ht6/react-ui/dist/styles/colors.module';
@use '../../styles/colors.module' as localColors;
@use '../../styles/mixins.module' as localMixins;

.root {
  padding: 0;
  position: fixed;
  z-index: 100;
  top: 0;
  width: 100%;
}

.content {
  justify-content: space-between;
  display: flex;
  padding: 0 1.25rem;
  width: auto;
}

.logo {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  padding: 0.5rem 0;
  margin-right: auto;
  grid-gap: 1rem;
}

.logoSvg {
  width: 1.25rem;
}

.linkItems {
  list-style-type: none;
  align-self: stretch;
  display: flex;
  padding: 0;
  margin: 0;
  align-items: center;
  gap: 4rem;

  button {
    margin-left: -24px;
    margin-right: -24px;

    &:last-child {
      margin-right: 0;
    }
  }

  @include localMixins.media(nav) {
    display: none;
  }
}

.linkItem {
  @include mixins.transition(color);
  box-sizing: border-box;
  position: relative;
  display: inline-block;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% + 3rem);
    height: calc(100% + 1rem);
    background-color: #f5f5f5;
    border-radius: 20px;
    opacity: 0;
    transition: opacity 0.4s ease;
    z-index: -1;
  }

  &:hover::before {
    opacity: 1;
  }
}

.mobileNav {
  grid-template-columns: 1fr 1fr;
  list-style-type: none;
  grid-gap: 0.5rem;
  display: grid;
  width: 100%;
  padding: 0;
  margin: 0;

  button {
    grid-column: 1/-1;
  }

  @include localMixins.media(mobile) {
    grid-template-columns: 1fr;
  }
}

.mobileNavItem {
  @include mixins.transition(background-color color);
  box-sizing: border-box;
  border-radius: 0.25rem;
  padding: 0.75rem 1rem;
  display: block;
  min-width: 1px;
  width: clamp(1px, 100%, 11rem);

  @include localMixins.media(mobile) {
    width: 100%;
  }

  &Active {
    background-color: colors.getColor(primary-700, hover, 0.1);
    color: colors.getColor(primary-700);
  }

  &:hover,
  &:focus,
  &Active {
    color: colors.getColor(primary-700);
  }

  &:active {
    background-color: colors.getColor(primary-700, hover, 0.06);
  }
}

.menu {
  @include mixins.transition(background-color color);
  background-color: transparent;
  border-radius: 0.25rem;
  padding: 0.5rem;
  aspect-ratio: 1;
  display: none;
  border: none;

  &:hover,
  &:focus {
    background-color: colors.getColor(primary-500, $alpha: 0.08);
    color: colors.getColor(primary-500);
  }

  &:active {
    background-color: colors.getColor(primary-500, $alpha: 0.14);
  }

  @include localMixins.media(nav) {
    display: block;
  }
}

.menuIcon {
  display: flex;
}

.banner {
  margin-left: 40px;
  overflow-y: visible;
  width: 5.25rem;
  height: 1px;

  @include localMixins.media(nav) {
    margin-left: 12px;
  }
}

.applyContainer {
  display: flex;
  align-items: center;
  margin-left: 1.5rem;
}

.apply {
  text-decoration: none;
  text-align: center;
  display: block;
}

.applyMobile {
  grid-column-start: 1;
  grid-column-end: 2 span;
  padding-top: 0.5rem;

  @include localMixins.media(mobile) {
    grid-column: 1;
  }
}
