@use '../../styles/mixins.module';
@use '../../styles/colors.module' as localColors;
@use '~@ht6/react-ui/dist/styles/colors.module';

.root {
  background-color: #000D25; //for visibility of lighter text, change when background finalized
  padding-bottom: 6.5rem;
  padding-top: 6.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0;
}

.contentIntro {
  max-width: 75rem;
  margin: 0 auto;
  padding-left: 2rem;
  padding-right: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.whyTitle {
  color: colors.getColor(warning-400);
}

.slidesWrapper {
  margin-top: 172px;
  padding-left: 5rem;
  padding-right: 5rem;
}

.title {
  text-align: center;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: -0.02em;
  margin-bottom: 8px;
}

.titleDesc {
  margin: 0;
  font-size: 20px !important;
  line-height: 28px;
  text-align: center;
  letter-spacing: -0.02em;
}

.italicsTitle {
  font-style: italic;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  letter-spacing: -0.02em;
}

.points {
  grid-template-columns: 1fr;
  list-style-type: none;
  display: grid;
  gap: 3.5rem;
  padding: 0;
  margin: 0;
}

.text,
.heading {
  margin: 0;
}

.heading {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.text {
  margin-top: 1rem;
}

.icon {
  margin-left: 0.75rem;
  height: 2.5rem;
  width: auto;
}

.action {
  text-transform: uppercase;
  text-decoration: none;
  display: inline-flex;
  margin-top: 2.75rem;
}

.popup {
  overflow: unset;
  padding-top: 1rem;
  max-width: 40rem;
  max-height: 40rem;
}

.prizeImage {
  width: 100%;
  height: auto;
  aspect-ratio: 1;
}
