@use '~@ht6/react-ui/dist/styles/mixins.module';
@use '~@ht6/react-ui/dist/styles/colors.module';
@use '../../styles/mixins.module' as localMixins;

.root {
  background-color: colors.getColor(primary-700);
  padding: 3.25rem 1.5rem 1.75rem;
  position: relative;
}

.text {
  margin: 0;
  margin-right: 2.5rem;

  @include localMixins.media(mobile) {
    margin-right: 0;
  }
}

.link {
  color: colors.getColor(copy-light);
  display: block;
}

.linkItem {
  margin-right: 1.75rem;
  &:last-child {
    margin-right: 0;
  }
}

.items {
  list-style-type: none;
  align-items: center;
  flex-wrap: wrap;
  display: flex;
  padding: 0;
  margin: 0;
}

.row {
  justify-content: space-between;
  margin-bottom: 1rem;
  align-items: center;
  flex-wrap: wrap;
  display: flex;

  & > * {
    margin-bottom: 1rem;
  }
}

.floatingBtn {
  @include mixins.transition(transform);
  background-color: rgba(white, 0.5);
  margin: 1rem 1rem 1rem auto;
  border-radius: 0.25rem;
  position: sticky;
  bottom: 1rem;
  z-index: 10;
}

.hide {
  transform: translateY(100%) translateY(1rem);
}

.img {
  transform: translateY(-100%);
  position: absolute !important;
  height: fit-content;
  min-height: 10rem;
  width: 100%;
  z-index: -1;
  margin: 0;
  inset: 0;
}
