@use '../../styles/mixins.module';
@use '../../styles/colors.module';

.root {
  padding-bottom: 6.5rem;
  padding-top: 6.5rem;
  background-color: black; // temporarily just so text is visible
}

.title {
  margin: 0 0 2.5rem;
  display: inline-block;
  font-size: 34px;
  font-weight: bold;
  letter-spacing: normal;
}

.airplane{
  max-width: 25.375rem;
  margin-left: -6rem;
  @include mixins.media(tablet) {
    margin-left: -1rem;
  }
  display:block;
}

.points {
  justify-content: space-evenly;
  list-style-type: none;
  flex-wrap: wrap;
  display: flex;
  gap: 2rem;
  padding: 0;
  margin: 0;
  @include mixins.media(tablet) {
    flex-direction: column;
  }
}

.point{
  flex-basis: 22rem;
  svg {
    max-width: 100%;
    margin-bottom: -1rem;
    @include mixins.media(tablet){
      margin-bottom: 0rem;
    }
  }
  text-align: center;
}

.text,
.heading {
  margin: 0;
  letter-spacing: normal;
}

.heading{
  font-weight: 500;
}

.text {
  margin-top: 1rem;
  font-size: 12px;
}
